<div class="container">
  <header class="blog-header py-3">
    
      
          <h1 class="text-center">
            Welcome to {{ title }}!
          </h1>
   
      
  </header>

  <div class="nav-scroller py-1 mb-2">
    <nav>
      <ul class="nav nav-pills nav-fill">
        <li class="nav-item">
          <a class="nav-link" routerLink="/jardin" routerLinkActive="active">JARDIN</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/volets" routerLinkActive="active">VOLETS</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
<main class="container">
  <router-outlet>

  </router-outlet>
</main>