.nav-scroller .nav-fill .nav-item{
  background-color: #3e8e41;
  background-size: 50%;
}

.nav-scroller .nav-fill .nav-item a{
  color: white;
  font-size:20px;
  font-weight: 4;
}

.nav-scroller .nav-fill .nav-item a.active{
  text-decoration: underline;
  background:none;
  border: 1px solid rgb(201, 65, 225);
  border-radius: 0;
  background-color: rgb(66, 185, 112);
}



.button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: lightslategray;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    margin: 20px;
  }
  
  .button:hover {background-color: #7d82c7}
  
  .button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

  input[type=number] {
    width: 10%;
    background-color: #f8f8f8;
    padding: 14px 20px;
    margin: 8px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  label {
    margin-top:10px;
    display:block;
    }
    
    